/* App.css */

select {
  padding: 6px 10px;
  font-size: 1rem;
  border-radius: 6px;
  border: solid 1px #2c363f;
  background-color: #f2f5ea;
  color: #2c363f;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
select:focus-visible {
  outline: none;
}
.app-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: #bbc7a4;
}

.feedback-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.form-wrapper {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f5ea;
}
form {
  width: 400px;
}

.wall-wrapper {
  width: 70vw;
  /* background-color: #f2f5ea; */
  max-width: 1200px;
  margin: auto;
}
.feedback-title {
  text-align: center;
  font-size: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #2c363f;
}

.feedback-form {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-textarea {
  padding: 10px;
  width: 100%;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: vertical;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.feedback-textarea:focus-visible {
  outline: none;
}

.form-group {
  margin-top: 1rem;
  color: #2c363f;
  font-size: 1.2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.submit-button {
  width: 250px;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  background-color: #e75a7c;
  color: white;
  cursor: pointer;
}

.show-more-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 6px;
  background-color: #e75a7c;
  color: white;
  border: none;
  cursor: pointer;
}

.filter-section {
  margin-bottom: 1rem;
  color: #2c363f;
  font-size: 1.2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.feedback-list {
  margin-top: 1rem;
}

.feedback-count {
  text-align: center;
  margin-bottom: 1rem;
}
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.feedback-card {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  background: #f2f5ea;
  width: 200px;
  height: 200px;
  margin: 10px;
  box-shadow: 3px 3px 15px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 15px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 15px -5px rgba(0, 0, 0, 0.75);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.feedback-date {
  font-family: "Courier New", Courier, monospace;
  font-size: 0.8rem;
}
/* .feedback-category {
} */
.submit-button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #ccc;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.error-message {
  color: rgb(218, 49, 49);
  text-align: center;
}

.category-sticker {
  color: #f2f5ea;
  /* border: 1px solid blue; */
  padding: 5px 8px;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e75a7c;
}
